@inject ICarService CarService

<ul class="list-unstyled"> 
    <!-- for loop for every car in the CarService list - display the following code --> 
    @foreach (var car in CategoryId == null? CarService.Cars : CarService.Cars.Where(c => c.CategoryId == CategoryId))
    {
        <li class="media my-3">
            <div class="media-img-wrapper mr-2">
                <a href="/car/@car.Id">
                     <img class="media-img" src="@car.Image" alt="@car.Title" />                   
                </a>
            </div>
            <div class="media-body">
                <a href="/car/@car.Id">
                    <h4 class="mb-0">@car.Title</h4>    
                </a>
                <p>@car.Description</p>
                @if(car.OriginalPrice > car.Price)
                {
                    <h6 class="text-muted original-price">£@car.OriginalPrice</h6>
                }
                <h5 class="price">£@car.Price</h5>
            </div>
        </li>
    }
</ul>

@code {
    [Parameter]
    public int? CategoryId { get; set; } = null;

    // loading the list of cars from the CarService.cs file 
    protected override async Task OnInitializedAsync()
    {
        await CarService.LoadCars();
    }
}
