@page "/finance"
@inject NavigationManager NavigationManager
<div>
    <h3>Finance Module!</h3>
    <p>
        The monthly charge for the selected finance plan is <strong>£@financePrice</strong>! Please enter your card details below for us to
        continue with your financing decision! Please ensure to upload any appropriate documents with the upload section.
    </p>
</div>
@code {
    private decimal financePrice;

    //parsing the value from the quiery stirng of the URL of the current page - this allos us to store the financePrice calculated
    //on the previous page in a private variable here on the finance page
    protected override async Task OnInitializedAsync()
    {
        var uri = new Uri(NavigationManager.Uri);
        var query = Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(uri.Query);
        financePrice = decimal.Parse(query["financePrice"]);
    }
}
