@page "/find-dealership"

<div>
    <div>
        <h3>Find a Dealership Nearby</h3>
        <p>
            We have recieved your transaction request! Please your nearest dealership so you can complete your purchase.
        </p>
        <p>
            To complete the purchase of your new car you must visit the nearest dealership where you can complete your payment, ask any further questions or
            test drive the vehicle before you take it away (highly recommended). Your new vehicle will be waiting for you.
        </p>
        <p>
            Thank you for doing business with General Motors!
        </p>
    </div>

    <br />

    <div class="map-container">
        <div class="map">
            <img src="images/map.jpg" class="map"/>
        </div>
        <div class="map-text">
            <strong>Global Motors Kenilworth Branch:</strong>
            <p>3 Apple Lane</p>
            <p>Kenilworth</p>
            <p>Warwickshire</p>
            <p>CV8 1NG </p>

            <strong>Global Motors Warwick Branch:</strong>
            <p>23 Pear Avenue</p>
            <p>Warwick</p>
            <p>Warwickshire</p>
            <p>CV34 6AH </p>
        </div>
    </div>
</div>

@code {

}
