@page "/find-dealership"
<div>
    <div>
        <h3>Find a Dealership Nearby</h3>
        <p>
            We have recieved your transaction request! Please select the nearest available dealership so you can complete your purchase.
        </p>
        <p>
            To complete the purchase of your new car you must visit the nearest dealership where you can complete your payment, ask any further questions or
            test drive the vehicle before you take it away (highly recommended). Your new vehicle will be waiting for you.
        </p>
        <p>
            Thank you for doing business with General Motors!
        </p>
    </div>

    <br />

    <div>

    </div>
</div>

@code {

}
