@page "/"
@page "/{categoryurl}"
@inject ICategoryService CategoryService;
@inject ICarService CarService
@inject IJSRuntime js


<AuthorizeView>
    <Authorized>
        <h1>Hello @context.User.Identity.Name!</h1>
    </Authorized>
    <NotAuthorized>
        <h1>Hello Guest!</h1>
    </NotAuthorized>
</AuthorizeView>


@if(category != null)
{
    <h1>Welcome to the @category.Name section!</h1>
    <CarList />
}
else
{
    <h1>Welcome To Global Motors!</h1>
    <CarList />
}




@code {

    /*[CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; }

    private async Task DisplayGreetingAlert(){
        var authState = await authenticationState;
        var message = $"Hello {authState.User.Identity.Name}";
        await js.InvokeVoidAsync("alert", message);
    }*/


    [Parameter]
    public string CategoryUrl { get; set; }

    // initialise the category
    private Category category = null;

    protected override async Task OnParametersSetAsync()
    {
        await CarService.LoadCars(CategoryUrl);

        if(CategoryUrl != null)
        {
            category = CategoryService.Categories.FirstOrDefault(c => c.Url.ToLower().Equals(CategoryUrl.ToLower()));
        }
        else
        {
            category = null;
        }
    }
}
