@page "/FinanceConfirm"
<div>
    <h3>Your finance is being processed!</h3>
    <p>
        Thank you for doing business with Global Motors! To pickup your vehicle please come in store at either of our branches shown below
        and we will make arrangements for you to take your new car away that day! 
    </p>
</div>
<div>
    <div class="map-container">
        <div class="map">
            <img src="images/map.jpg" class="map" />
        </div>
        <div class="map-text">
            <div class="map-text-grid">

                <div class="left">
                    <strong>Global Motors Kenilworth Branch:</strong>
                    <p>3 Apple Lane</p>
                    <p>Kenilworth</p>
                    <p>Warwickshire</p>
                    <p>CV8 1NG </p>
                </div>

                <div class="right">
                    <strong>Global Motors Warwick Branch:</strong>
                    <p>23 Pear Avenue</p>
                    <p>Warwick</p>
                    <p>Warwickshire</p>
                    <p>CV34 6AH </p>
                </div>
            </div>
            <div>
                <strong>Opening Hours (Kenilworth & Warwick Branches)</strong>
                <p>Mon-Fri: 08:00 - 18:00</p>
                <p>Sat: 09:00 - 17:00</p>
                <p>Sun: 09:00 - 14:00</p>
            </div>
        </div>
    </div> 
</div>

@code {

}
